* {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    vertical-align: top;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

.detailed_combat_div.collapsed {
    overflow: hidden;
    max-height: 0;
    transition:max-height 0.3s ease-in-out;
}

.detailed_combat_div {
    overflow: hidden;
    max-height: 600px;
    transition:max-height 0.3s ease-in-out;
}

.team_div {
    display: inline-block;
    width: 49%;
    margin: 2px;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.03);
}

a:link {
    color: mediumblue;
    text-decoration: none;
}

a:visited {
    color: mediumblue;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

.new_vessel_ahref {
    display: block;
    margin: 2px;
    padding: 2px;
}

.vessel_div {
    display: inline-block;
    background-color: rgba(0,0,0,0.05);
    margin: 3px;
    padding: 2px;
    max-width: 470px;
    text-align: center;
    vertical-align: top;
}

input[type=text].vessel_name_input {
    background-color: rgba(0,0,0,0);
    border: none;
    text-align: center;
    display: inline-block;
    width: 92%;
}

input[type=text].vessel_name_input:hover {
    background-color: rgba(0,0,0,0.1);
}

label {
    display: block;
    text-align: center;
    font-weight: bold;
}

.vessel_category_div {
    position: relative;
}

.vessel_delete_ahref {
    position: absolute;
    right: 2px;
    top: 2px;
    display: block;
}

select {
    background-color: rgba(0,0,0,0);
    border: none;
    text-align: center;
    text-align-all: center;
    text-align-last: center;
    width: 100%;
    margin: 2px 15px 2px 0;
    padding: 2px;
    font-size: 12px;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}

select:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

option {
    text-align: center;
    width: 100%;
    padding: 2px;
    color: #505050;
    font-size: 12px;
}

.weapons_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #0274be;
    color: #FAFAFA;
}
.weapon_div {
    display: inline-block;
}

.armors_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #0274be;
    color: #FAFAFA;
}
.armor_div {
    display: inline-block;
}

.shields_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #0274be;
    color: #FAFAFA;
}
.shield_div {
    display: inline-block;
}

.engines_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #0274be;
    color: #FAFAFA;
}
.engine_div {
    display: inline-block;
}

.warp_engines_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #0274be;
    color: #FAFAFA;
}
.warp_engine_div {
    display: inline-block;
}

select.vessel_part {
    color: white;
}

.team_b .weapons_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #be0208;
    color: #FAFAFA;
}

.team_b .armors_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #be0208;
    color: #FAFAFA;
}

.team_b .shields_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #be0208;
    color: #FAFAFA;
}

.team_b .engines_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #be0208;
    color: #FAFAFA;
}

.team_b .warp_engines_div {
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: #be0208;
    color: #FAFAFA;
}

.attributes_div {}
.attribute_div {
    margin: 2px;
    padding: 2px;
    font-weight: normal;
    font-size: 12px;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    color: #555;
    background-color: #DDD;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-weight: bold;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    z-index:999;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #DDD transparent;
    font-weight: bold;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    overflow: visible;
    padding: 2px;
}